Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scrounger-frontend-test-suite, wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

scrounger-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/scrounger/react_frontend
  - npm ci
  script:
  - npm run lint

wallet-integration-test-suite:
  stage: test
  image: cypress/browsers:node14.7.0-chrome84
  before_script:
  - cd applications/wallet/cypress
  - npm ci
  script:
  - npm run cli -- --browser chrome --headless --record --group Backend --spec 'integration/backend/**/*'
  ...

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint:0.37.2
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: false
  script:
  - python -m pip install pipenv pytest cmake
  - pip install --upgrade pip
  - cd client/python
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-amd64-static.tar.xz
  - cp ffmpeg-4.2.2-amd64-static/ffmpeg /usr/bin
  ...

Update dependency eslint-config-prettier to v7.1.0
  applications/scrounger/react_frontend/package-lock.json
  applications/scrounger/react_frontend/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: scrounger-frontend-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency swr to v0.3.11
  applications/scrounger/react_frontend/package-lock.json
  applications/scrounger/react_frontend/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: scrounger-frontend-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixup
  applications/scrounger/react_frontend/package-lock.json
  applications/scrounger/react_frontend/package.json
Due: scrounger-frontend-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency django-axes to v5.10.0
  applications/wallet/Pipfile
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency google-cloud-vision to v2
  containers/zmlp-plugins-analysis/requirements.txt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.aspose:aspose-cells to v20.12
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.aspose:aspose-pdf to v20.12
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.aspose:aspose-slides to v20.12
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.auth0:java-jwt to v3.12.0
  lib/jvm-common/zmlp-apikey/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update elasticsearch.version to v7.10.1
  services/archivist/pom.xml
  services/elasticsearch/es-similarity-query/pom.xml
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update okhttp.version to v3.14.9
  lib/jvm-common/zmlp-apikey/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update spring boot to v2.4.1
  lib/jvm-common/pom.xml
  services/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
  services/auth-server/pom.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adding label to ModelType map
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ModelControllerTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates Wallet backend dev documentation.
  applications/wallet/README.md
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/settings/docker-compose.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves ZMLP-617. Adds a missing dependency for the latest mxnet in ML-BBQ.
  services/archivist/pom.xml
  services/mlbbq/Dockerfile
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves ZMLP-618. Fixes bugs brought on by breaking changes in python PyJWT 2.0.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/projects/clients.py
  client/admin/setup.py
  client/python/pylib/zmlp/client.py
  client/python/setup.py
  services/analyst/pylib/analyst/service.py
  services/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Explicitly updating junit-vintage lib
  services/archivist/archivist/pom.xml
  services/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates renovate to perform lockfile maintenance on python libs.
  renovate.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-950. Updates the confusion matrix to accept empty matrices.
  applications/wallet/app/models/tests/test_unit.py
  applications/wallet/app/models/utils.py
  client/python/pylib/zmlp/entity/model.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates to terraform 13.
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/versions.tf
  deployment/terraform/modules/api-gateway/versions.tf
  deployment/terraform/modules/archivist/versions.tf
  deployment/terraform/modules/auth-server/versions.tf
  deployment/terraform/modules/aws-ml/versions.tf
  deployment/terraform/modules/azure-ml/versions.tf
  deployment/terraform/modules/elasticsearch-hq/versions.tf
  deployment/terraform/modules/elasticsearch/versions.tf
  deployment/terraform/modules/gcp-marketplace-integration/versions.tf
  deployment/terraform/modules/gke-cluster/versions.tf
  deployment/terraform/modules/metrics/versions.tf
  deployment/terraform/modules/minio/versions.tf
  deployment/terraform/modules/ml-bbq/versions.tf
  deployment/terraform/modules/officer/versions.tf
  deployment/terraform/modules/postgres/versions.tf
  deployment/terraform/modules/redis/versions.tf
  deployment/terraform/modules/reporter/versions.tf
  deployment/terraform/modules/wallet/versions.tf
  deployment/terraform/versions.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates wallet pipfile lock.
  applications/wallet/Pipfile.lock
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Changes random_strings in the terraform to random_password for all sensitive values.
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/analyst/outputs.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/archivist/outputs.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/gke-cluster/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/metrics/outputs.tf
  deployment/terraform/modules/metrics/variables.tf
  deployment/terraform/modules/minio/main.tf
  deployment/terraform/modules/minio/outputs.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/outputs.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Rolls back to old source
  deployment/terraform/versions.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update Dockerfile
  applications/wallet/Dockerfile
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Wallet: Fixes a bug introduced by a django-axes update. They reverted a change that required us to remove some code and then immediately reverted it in the next update.
  applications/wallet/app/registration/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency @emotion/react to v11.1.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency cypress to v6.2.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency redis.clients:jedis to v3.4.1
  services/archivist/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency webpack-bundle-analyzer to v4.3.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add custom label model training and video analysis
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/custom.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update kotlin.version to v1.4.21-2
  lib/jvm-common/pom.xml
  services/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
  services/auth-server/pom.xml
  services/elasticsearch/pom.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

unit tests for utils
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/conftest.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

unit test for custom
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/detect_custom_labels.json
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/conftest.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_custom.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/__init__.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove PATH env
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.fasterxml.uuid:java-uuid-generator to v4
  services/archivist/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

integration and unit tests
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_custom.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_custom.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/custom.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  scrounger-frontend-test-suite: any of: applications/scrounger/react_frontend/**/*
  wallet-integration-test-suite: any of: applications/wallet/cypress/**/*
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, client/zvi/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
