Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - python setup.py install
  - pytest
  - cd ../../sdk
  - python setup.py install
  - pytest
  - cd ../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

sdk-unit-tests-all-stable-branches:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q
  retry: 1

resolve comments - using zmlpsdk.file_storage - not using shutil - add_analysis of app_model.name
  applications/workbench/data/notebooks/Import Flickr Images.ipynb
  applications/workbench/data/notebooks/Import Imagenet Images.ipynb
  applications/workbench/data/notebooks/Import Pomological Dataset.ipynb
  applications/workbench/data/notebooks/Import Test Images.ipynb
  applications/workbench/data/notebooks/Search and Display.ipynb
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

build dev env scripts
  build-dev-env.sh
  install_requirements.sh
  install_setups.sh
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue where service key can't create projects.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/ApiKeyAuthorizationFilter.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency eslint-plugin-react to v7.20.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed resnet152, replace with resnet50
  client/python/pylib/zmlp/entity/model.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ModelControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added resnet50 to tf2 training class.
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

clean up executionTime (logic moving to backend)
  applications/wallet/frontend/src/Metrics/Bar.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add pipeline bar
  applications/wallet/frontend/src/MetadataPretty/index.js
  applications/wallet/frontend/src/Metrics/Bar.js
  applications/wallet/frontend/src/Metrics/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metrics/__tests__/index.spec.js
  applications/wallet/frontend/src/Metrics/index.js
  applications/wallet/frontend/src/Styles/constants.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

text overflow
  applications/wallet/frontend/src/Metrics/Bar.js
  applications/wallet/frontend/src/Metrics/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

streamline snapshots
  applications/wallet/frontend/src/Metrics/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metrics/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

MR comments
  applications/wallet/frontend/src/MetadataPretty/index.js
  applications/wallet/frontend/src/Metrics/Bar.js
  applications/wallet/frontend/src/Metrics/__tests__/index.spec.js
  applications/wallet/frontend/src/Metrics/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

prevent clicking
  applications/wallet/frontend/src/MetadataPretty/MetricsBar.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/MetricsBar.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/MetricsBar.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

use button
  applications/wallet/frontend/src/MetadataPretty/Metrics.js
  applications/wallet/frontend/src/MetadataPretty/MetricsBar.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/MetricsBar.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/MetricsBar.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add graph colors
  applications/wallet/frontend/src/Metrics/Bar.js
  applications/wallet/frontend/src/Styles/colors.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

remove lint disable
  applications/wallet/frontend/src/Metrics/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update proptypes
  applications/wallet/frontend/src/Asset/__mocks__/asset.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/MetricsBar.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/MetricsBar.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update proptypes
  applications/wallet/frontend/src/MetadataPretty/Metrics.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds back the missing data migrations
  applications/wallet/app/modules/migrations/0002_data_migration_add_providers.py
  applications/wallet/app/wallet/migrations/0001_data_migration_add_superuser.py
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Combine all schema migrations.
  dev/db-only.yaml
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineDao.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V10__ds_name.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V11__job_counters.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V12__proj_counters.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V13__new_module_props.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V14__new_module_props2.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V15__datasets.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V16__task_status.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V17__models.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V18__quota2.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V19__project_plm.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V1__init.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V20__task_index.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V21__project_enabled_status.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V2__job_stop_time.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V3__pipe_modules.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V4__project_settings.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V5__ds_modules.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V6__creds.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V7__ds_creds.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V8__ds_mods.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V9__job_ds_ref.sql
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency eslint-plugin-react-hooks to v4.0.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency next to v9.4.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added search.batches_of
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_search.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Addresses code review comment.
  applications/wallet/app/wallet/migrations/0001_data_migration_add_superuser.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

All a DS import to set the batch size as low as 10, as high as 100.
  client/python/examples/ds_import.py
  client/python/pylib/zmlp/app/datasource_app.py
  client/python/pylib/zmlp/tests/test_search.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/DataSource.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSourceController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobLaunchService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/JobLauncherServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Missing file.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobLaunchService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Add video
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__mocks__/videoAsset.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Asset/__tests__/index.spec.js
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__mocks__/assets.js
  applications/wallet/frontend/src/Assets/__tests__/Thumbnail.spec.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/expand.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add video fill screen, remove fill none, clean up query handling, add trailing slash
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Asset/__tests__/index.spec.js
  applications/wallet/frontend/src/Icons/expand.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

firt pass at knn label detector
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/model_knn.zip
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_knn.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/__init__.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/tests/__init__.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/tests/test_train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

trying to pass tests
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

trying to pass tests
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

- trainClassifier script - TL based on sim hash - moved utils functions to separate file
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/classifiers.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/ClassifierTest.hd5
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/ClassifierTest_labels.txt
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_classifiers.py
  containers/zmlp-plugins-train/pylib/zmlp_train/trainClassifier.py
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixed flake8 issues
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/classifiers.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_classifiers.py
  containers/zmlp-plugins-train/pylib/zmlp_train/trainClassifier.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

moved scripts to dev/
  dev/build-dev-env.sh
  dev/install_requirements.sh
  dev/install_setups.sh
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

utils dir in custom/
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add utils tests
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/tests/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/tests/test_utils.py
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/tests/test_utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*, .gitlab-ci.yml
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*, .gitlab-cy.yml
  services_unit_tests-all-stable-branches: any of: **/*
