Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*, .gitlab-ci.yml
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*, .gitlab-cy.yml
  services_unit_tests-all-stable-branches: any of: **/*

addressed div by zero with multi point polys, added draw flag
  applications/wallet/app/assets/tests/test_unit.py
  applications/wallet/app/assets/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Project enabled attribute
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/ProjectDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V21__project_enabled_status.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

remove cycle dependencies
  applications/wallet/frontend/src/Asset/__mocks__/pdfAsset.js
  applications/wallet/frontend/src/MetadataPretty/Array.js
  applications/wallet/frontend/src/MetadataPretty/Object.js
  applications/wallet/frontend/src/MetadataPretty/Row.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Object.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Row.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Object.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update Switch.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

rename test
  applications/wallet/frontend/src/MetadataPretty/__tests__/Switch.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Moves all of the marketplace code to a marketplace django app. Adds models to track marketplace accounts and entitlements.
  applications/wallet/app/conftest.py
  applications/wallet/app/gcpmarketplace/README.md
  applications/wallet/app/gcpmarketplace/__init__.py
  applications/wallet/app/gcpmarketplace/admin.py
  applications/wallet/app/gcpmarketplace/apps.py
  applications/wallet/app/gcpmarketplace/docker-compose.yml
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-usage-report.py
  applications/wallet/app/gcpmarketplace/migrations/0001_initial.py
  applications/wallet/app/gcpmarketplace/migrations/__init__.py
  applications/wallet/app/gcpmarketplace/models.py
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/signup.html
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/success.html
  applications/wallet/app/gcpmarketplace/utils.py
  applications/wallet/app/gcpmarketplace/views.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/registration/migrations/0002_auto_20200429_2318.py
  applications/wallet/app/subscriptions/models.py
  applications/wallet/app/subscriptions/tests/test_integration.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/urls.py
  applications/wallet/gcp_marketplace_tools/bin/marketplace_pubsub_handler.py
  applications/wallet/gcp_marketplace_tools/docker-compose.yml
  deployment/terraform/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-476: center JobErrors icon
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-272: add isEditing
  applications/wallet/frontend/src/FilterText/Detection.js
  applications/wallet/frontend/src/FilterText/__tests__/__snapshots__/Detection.spec.js.snap
  applications/wallet/frontend/src/FilterText/index.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-489: dynamic MetadataPretty
  applications/wallet/frontend/src/Asset/__mocks__/pdfAsset.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/PrettyRow.spec.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/PrettyRow.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/index.spec.js
  applications/wallet/frontend/src/MetadataAnalysis/index.js
  applications/wallet/frontend/src/MetadataPretty/Content.js
  applications/wallet/frontend/src/MetadataPretty/Labels.js
  applications/wallet/frontend/src/MetadataPretty/LabelsContent.js
  applications/wallet/frontend/src/MetadataPretty/LabelsQuery.js
  applications/wallet/frontend/src/MetadataPretty/Row.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Switch.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Refactored similiary engine out to own class to make easier to test.
  services/elasticsearch/es-similarity/pom.xml
  services/elasticsearch/es-similarity/src/main/kotlin/com/zorroa/zmlp/similarity/SimilarityEngine.kt
  services/elasticsearch/es-similarity/src/main/kotlin/com/zorroa/zmlp/similarity/SimilarityPlugin.kt
  services/elasticsearch/es-similarity/src/test/kotlin/com/zorroa/zmlp/similarity/SimilarityEngineTests.kt
  services/elasticsearch/es-similarity/src/test/kotlin/com/zorroa/zmlp/similarity/SimilarityPluginTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

increase padding
  applications/wallet/frontend/src/Export/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Export/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-402: MetadataPretty style updates
  applications/wallet/frontend/src/MetadataPretty/Row.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Accounts for empty query querystring during export and other searches endpoints
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-459: pass back credentials when updating data source
  applications/wallet/frontend/src/DataSourcesEdit/Content.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

use proper image dir format
  containers/zmlp-plugins-train/pylib/zmlp_train/yolo3/train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/yolo3/yolo3/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update TODO
  containers/zmlp-plugins-train/pylib/zmlp_train/yolo3/train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

incremental progress on terraform cloud.
  applications/wallet/app/wallet/settings/__init__.py
  deployment/terraform/deployments/saas/main.tf
  deployment/terraform/deployments/saas/variables.tf
  deployment/terraform/environments/production/main.tf
  deployment/terraform/environments/production/variables.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/api-gateway/main.tf
  deployment/terraform/modules/api-gateway/variables.tf
  deployment/terraform/modules/saas-deployment/main.tf
  deployment/terraform/modules/saas-deployment/variables.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/variables.tf
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes reprocess assets. Removes indexing/update funtions.
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added fileTypes job setting on reprocess jobs.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobLaunchService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes model publishing name issue.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ModelService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

incremental progress on terraform cloud.
  deployment/terraform/main.tf
  deployment/terraform/modules/saas-deployment/main.tf
  deployment/terraform/modules/saas-deployment/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Tries out a new provider
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Dont expect a return on ApiKeyEnabled endpoint call
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Another fix for the provider.
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixed typo, added check for xr =< 0
  applications/wallet/app/assets/tests/test_unit.py
  applications/wallet/app/assets/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-495: fix ApiKeysAdd
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/FormSuccess.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updating ApiKeySpec constructor call
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/repository/ApiKeyCustomRepositoryTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-500: add ProjectUsersAdd isLoading state
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

lint
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/repository/ApiKeyCustomRepositoryTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-420: add Asset page
  applications/wallet/frontend/pages/[projectId]/visualizer/[id]/index.js
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Asset/__tests__/index.spec.js
  applications/wallet/frontend/src/Asset/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

testing wallet backend test changes
  .gitlab-ci.yml
  applications/wallet/app/README.md
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

mroe test
  applications/wallet/app/README.md
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update stabel branches from development to master, clean up job naming
  .gitlab-ci.yml
  applications/wallet/app/README.md
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Testing wallet backend changes
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

test wallet frontend changes
  .gitlab-ci.yml
  applications/wallet/frontend/README.md
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

testing frontend wallet tests
  applications/wallet/frontend/README.md
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

updates to only build and push wallet when it changes
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

change deployments for wallet
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

testing wallet backend push and deploy
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
