Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scrounger-frontend-test-suite, wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  scrounger-frontend-test-suite: any of: applications/scrounger/react_frontend/**/*
  wallet-integration-test-suite: any of: applications/wallet/cypress/**/*
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, client/zvi/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

Fixes a failing test.
  applications/wallet/app/registration/tests/test_integration.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-984: update Wallet email template
  applications/wallet/app/registration/templates/registration/activation-email.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
  applications/wallet/app/registration/templates/registration/password_reset_subject.txt
  applications/wallet/app/registration/tests/test_integration.py
  applications/wallet/app/wallet/templates/email/base-email.html
  applications/wallet/frontend/public/icons/boon-ai.png
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a failing test.
  applications/wallet/app/registration/views.py
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a couple of small wallet bugs resulting from the rebranding.
  applications/wallet/app/modules/migrations/0005_change_zorroa_to_boon.py
  applications/wallet/app/wallet/templates/email/base-email.html
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates a few more missing colors.
  applications/wallet/app/registration/templates/registration/activation-email.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates a few more missing colors and templates used for marketplace inteegration.
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/signup.html
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/success.html
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a couple of small wallet bugs resulting from the rebranding.
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/signup.html
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/success.html
  applications/wallet/app/modules/migrations/0005_change_zorroa_to_boon.py
  applications/wallet/app/registration/templates/registration/activation-email.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
  applications/wallet/app/wallet/templates/email/base-email.html
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v7.11.1
  services/elasticsearch/Dockerfile
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update postgres Docker tag to v9.6.21
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a typo in the gitlab ci.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes bad references in similarity. S# blog/
  client/boonlab/pylib/boonlab/hashes.py
  client/boonlab/pylib/boonlab/plot.py
  client/boonlab/pylib/boonlab/tests/test_display.py
  client/boonlab/pylib/boonlab/tests/test_hashes.py
  client/boonlab/pylib/boonlab/tests/test_pandas.py
  client/boonlab/pylib/boonlab/tests/test_plot.py
  client/boonlab/pylib/boonlab/tests/test_proxies.py
  client/boonsdk/examples/env.sh
  client/boonsdk/examples/file_crawler.py
  client/boonsdk/examples/kwconf_search.py
  client/boonsdk/pylib/boonsdk/app/asset_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_job_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
  client/boonsdk/pylib/boonsdk/entity/asset.py
  client/boonsdk/pylib/boonsdk/entity/tests/test_asset.py
  client/boonsdk/pylib/boonsdk/search.py
  client/boonsdk/pylib/boonsdk/tests/test_search.py
  client/boonsdk/pylib/boonsdk/training.py
  dev/config/archivist/application.properties
  dev/config/monitoring/grafana/dashboards/archivist-api-dashboard.json
  dev/config/monitoring/grafana/dashboards/elasticsearch.json
  dev/config/monitoring/grafana/dashboards/jvm-micrometer_rev7.json
  dev/config/monitoring/grafana/dashboards/zorroa_jobs.json
  dev/config/monitoring/grafana/provisioning/dashboards/providers.yml
  dev/config/monitoring/grafana/provisioning/datasources/prometheus.yml
  dev/config/monitoring/prometheus.yml
  services/elasticsearch/Dockerfile
  services/elasticsearch/es-similarity/src/main/kotlin/boonai/similarity/SimilarityPlugin.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Cleans up the terrafrm surrounding service account keys and forces tainting of the correct workloads when they change.
  deployment/terraform/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/archivist/variables.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/auth-server/variables.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/variables.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/metrics/variables.tf
  deployment/terraform/modules/postgres/outputs.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/variables.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added jvm version caching.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added jvm-build docker file
  .gitlab-ci.yml
  containers/jvm-build/Dockerfile
  containers/jvm-build/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

typo fix
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes additional breakage
  containers/jvm-build/Dockerfile
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetSearchServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates kubernetes terraform provider to the latest version.
  deployment/terraform/modules/wallet/versions.tf
  deployment/terraform/versions.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removes deprecated argument in terraform.
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates new style of defining resources in terraform for k8s deployments.
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/api-gateway/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/elasticsearch-hq/main.tf
  deployment/terraform/modules/elasticsearch/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/ml-bbq/main.tf
  deployment/terraform/modules/officer/main.tf
  deployment/terraform/modules/redis/main.tf
  deployment/terraform/modules/stackdriver-adapter/main.tf
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates new style of defining resources in terraform for k8s deployments.
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates new style of defining resources in terraform for k8s deployments.
  deployment/terraform/modules/elasticsearch/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added more files to prebuilt depends
  containers/jvm-build/pom.xml
  services/archivist/archivist/src/test/resources/logback.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

build stuff
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Moves the archivist deployment annotation down into the template.
  deployment/terraform/modules/archivist/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

More attempts at compile fixes
  .gitlab-ci.yml
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates kubernetes terraform provider to the latest version.
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/api-gateway/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/elasticsearch-hq/main.tf
  deployment/terraform/modules/elasticsearch/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/ml-bbq/main.tf
  deployment/terraform/modules/officer/main.tf
  deployment/terraform/modules/redis/main.tf
  deployment/terraform/modules/stackdriver-adapter/main.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/versions.tf
  deployment/terraform/versions.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Tries fixing bugs in archivist deployment.
  deployment/terraform/modules/archivist/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Slugs the sql-service-account-key-date value for use in labels.
  deployment/terraform/modules/postgres/outputs.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adjusting string replacement
  deployment/terraform/modules/postgres/outputs.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Trying to force valid after to a string.
  deployment/terraform/modules/postgres/outputs.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Test annotations.
  deployment/terraform/modules/archivist/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates terraform k8s deployment annotations with a prefix so they get picked up.
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds an env var with the SA valid from date to force recreation of deployments when keys change.
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Boon AI logo in Workbench
  applications/workbench/jupyter_custom/BoonAI-logo.svg
  applications/workbench/jupyter_custom/custom.css
  applications/workbench/jupyter_custom/zorroa.svg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates terraform k8s deployments to add an env var with the creation date of the service account key to force the pods to cycle out.
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Cleans up unnecessary terraform changes
  deployment/terraform/modules/postgres/outputs.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates billing metrics list of modules.
  services/metrics/app/metrics/records/models.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
