Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scrounger-frontend-test-suite, wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  scrounger-frontend-test-suite: any of: applications/scrounger/react_frontend/**/*
  wallet-integration-test-suite: any of: applications/wallet/cypress/**/*
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, client/zvi/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

Update dependency junit:junit to v4.13.2
  lib/jvm-common/pom.xml
  services/archivist/pom.xml
  services/elasticsearch/es-similarity-query/pom.xml
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency junit:junit to v4.13.2
  services/elasticsearch/es-kwconf/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency org.pitest:pitest-maven to v1.6.3
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update elasticsearch.version to v7.11.0
  services/archivist/pom.xml
  services/elasticsearch/es-similarity-query/pom.xml
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Shorted BoonSdkApp and BoonSdkClient to BoonApp and BoonClient
  client/boonczar/pylib/boonczar/app/admin_app.py
  client/boonczar/pylib/boonczar/app/test/test_index_app.py
  client/boonczar/pylib/boonczar/app/test/test_project_app.py
  client/boonlab/pylib/boonlab/tests/test_display.py
  client/boonlab/pylib/boonlab/tests/test_hashes.py
  client/boonlab/pylib/boonlab/tests/test_pandas.py
  client/boonlab/pylib/boonlab/tests/test_plot.py
  client/boonsdk/pylib/boonsdk/__init__.py
  client/boonsdk/pylib/boonsdk/app/boon_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_analysis_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_asset_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_clip_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_datasource_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_field_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_job_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_project_app.py
  client/boonsdk/pylib/boonsdk/app/tests/util.py
  client/boonsdk/pylib/boonsdk/client.py
  client/boonsdk/pylib/boonsdk/search.py
  client/boonsdk/pylib/boonsdk/tests/test_search.py
  client/boonsdk/pylib/boonsdk/tests/test_training.py
  client/boonsdk/pylib/boonsdk/training.py
  containers/boonflow/pylib/boonflow/tests/test_cloud.py
  containers/boonflow/pylib/boonflow/tests/test_media.py
  containers/boonflow/pylib/boonflow/tests/test_proxy.py
  containers/boonflow/pylib/boonflow/tests/test_storage.py
  containers/boonflow/pylib/boonflow/tests/test_video.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/clips.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_clips.py
  containers/plugins-core/pylib/boonai_core/core/tests/test_generator.py
  containers/plugins-core/pylib/boonai_core/core/tests/test_processors.py
  containers/plugins-core/pylib/boonai_core/proxy/tests/test_video.py
  containers/plugins-core/pylib/boonai_core/util/tests/test_media.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency io.micrometer:micrometer-core to v1.6.4
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

typo fix
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes up jvm common
  .gitlab-ci.yml
  docker-compose.yml
  services/jvm-common/Dockerfile
  services/jvm-common/boonai-apikey/pom.xml
  services/jvm-common/boonai-apikey/src/main/kotlin/boonai/common/apikey/ApiKey.kt
  services/jvm-common/boonai-apikey/src/main/kotlin/boonai/common/apikey/AuthServerClient.kt
  services/jvm-common/boonai-apikey/src/main/kotlin/boonai/common/apikey/Permission.kt
  services/jvm-common/boonai-apikey/src/main/kotlin/boonai/common/apikey/ZmlpActor.kt
  services/jvm-common/boonai-apikey/src/test/kotlin/boonai/common/apikey/AuthServerClientTests.kt
  services/jvm-common/boonai-apikey/src/test/resources/signing-key.json
  services/jvm-common/boonai-service/pom.xml
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/jpa/Converters.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/jpa/Encrypted.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/jpa/EncryptionListener.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/logging/EventLog.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/security/EncryptionService.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/security/SecurityUtils.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/storage/AwsSystemStorageService.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/storage/GcsSystemStorageService.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/storage/StorageClients.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/storage/SystemStorageService.kt
  services/jvm-common/boonai-service/src/test/kotlin/boonai/common/service/jpa/ConvertersTests.kt
  services/jvm-common/boonai-service/src/test/kotlin/boonai/common/service/security/EncryptionServiceTests.kt
  services/jvm-common/boonai-service/src/test/kotlin/boonai/common/service/security/TestConfiguration.kt
  services/jvm-common/boonai-util/pom.xml
  services/jvm-common/boonai-util/src/main/kotlin/boonai/common/util/Json.kt
  services/jvm-common/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

lint
  client/boonczar/examples/project_migrate.py
  containers/boondocks/pylib/boondocks/tests/test_daemon.py
  containers/boonflow/pylib/boonflow/base.py
  containers/boonflow/pylib/boonflow/testing.py
  containers/boonflow/pylib/boonflow/tests/test_audio.py
  containers/boonflow/pylib/boonflow/tests/test_cloud.py
  containers/boonflow/pylib/boonflow/tests/test_media.py
  containers/boonflow/pylib/boonflow/tests/test_proxy.py
  containers/boonflow/pylib/boonflow/tests/test_storage.py
  containers/boonflow/pylib/boonflow/tests/test_video.py
  containers/plugins-core/pylib/boonai_core/core/importers.py
  containers/plugins-core/pylib/boonai_core/core/processors.py
  containers/plugins-core/pylib/boonai_core/core/tests/test_importers.py
  containers/plugins-core/pylib/boonai_core/office/oclient.py
  containers/plugins-core/pylib/boonai_core/office/tests/test_importers.py
  services/mlbbq/pylib/mlbbq/main.py
  services/mlbbq/pylib/mlbbq/simhash.py
  services/mlbbq/pylib/mlbbq/tests/test_simhash.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

lint
  containers/plugins-analysis/integration_tests/azure_integration_tests/test_video.py
  containers/plugins-core/pylib/boonai_core/core/tests/test_processors.py
  containers/plugins-core/pylib/boonai_core/video/importers.py
  containers/plugins-core/pylib/boonai_core/video/tests/test_importers.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

CD/CD fixes
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes SDK tests
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes more tests
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes flow test
  containers/boonflow/pylib/boonflow/tests/test_storage.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes JVM storage config.
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/storage/SystemStorageService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes all env vars.
  applications/sandbox/Dockerfile
  applications/sandbox/docker-compose.yml
  applications/wallet/README.md
  applications/wallet/app/gcpmarketplace/docker-compose.yml
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/settings/dev-server-template.py
  applications/wallet/app/wallet/settings/docker-compose.py
  applications/wallet/app/wallet/settings/local-dev.py
  applications/wallet/app/wallet/utils.py
  applications/workbench/Dockerfile
  applications/workbench/data/notebooks/Face Recognition Confusion Matrix.ipynb
  applications/workbench/data/notebooks/Updating_Labels.ipynb
  applications/workbench/data/notebooks/Video Deep Search.ipynb
  applications/workbench/data/notebooks/ZIFAR Confusion Matrix.ipynb
  applications/workbench/docker-compose.yml
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/ml-bbq/main.tf
  deployment/terraform/modules/officer/main.tf
  deployment/terraform/modules/reporter/main.tf
  deployment/terraform/modules/wallet/main.tf
  dev/add_analyst.py
  services/analyst/pylib/analyst/executor.py
  services/analyst/pylib/analyst/main.py
  services/analyst/pylib/analyst/service.py
  services/archivist/archivist/README.md
  services/archivist/archivist/src/main/kotlin/boonai/archivist/clients/RestClient.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/DispatcherServiceTests.kt
  services/officer/src/main/kotlin/com/zorroa/Config.kt
  services/reporter/README.md
  services/reporter/lib/metrics.py
  services/reporter/reporter
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes failing Wallet tests.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/exceptions.py
  applications/wallet/app/wallet/tests/test_exceptions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes failing Wallet tests.
  applications/wallet/app/projects/tests/test_integration.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds a wallet migration to change the zorroa provider to boon ai.
  applications/wallet/app/modules/migrations/0005_change_zorroa_to_boon.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes broken tests
  client/boonsdk/Dockerfile
  containers/boondocks/Dockerfile
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removes zvi namespace
  containers/plugins-analysis/pylib/boonai_analysis/boonai/faces.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/labels.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/objects.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/ocr.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/similarity.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_faces.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_labels.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_objects.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_ocr.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_similarity.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/face_rec.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/knn.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/perceptron.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_face_rec.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_knn.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_perceptron.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/StandardMods.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ClipController.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ClipControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetSearchServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ClipServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/DataSourceServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/PipelineModServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/PipelineResolverServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Additional renames/test fixes
  containers/plugins-core/pylib/boonai_core/core/tests/test_generator.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/StandardMods.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetSearchServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/PipelineResolverServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Auth server fixes
  services/auth-server/auth-server/src/main/kotlin/boonai/authserver/conf/DatabaseConfiguration.kt
  services/auth-server/auth-server/src/main/resources/application.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

More fixes for plugin container tests
  containers/boonflow/pylib/boonflow/storage.py
  containers/boonflow/pylib/boonflow/tests/test_video.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_clips.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_faces.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_labels.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_objects.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_ocr.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_similarity.py
  containers/plugins-analysis/pylib/boonai_analysis/google/tests/test_cloud_vision.py
  containers/plugins-train/pylib/boonai_train/automl/test/labels_test.py
  containers/plugins-train/pylib/boonai_train/knn/tests/test_train.py
  containers/plugins-train/pylib/boonai_train/knn/train.py
  containers/plugins-train/pylib/boonai_train/perceptron/tests/test_train.py
  containers/plugins-train/pylib/boonai_train/perceptron/train.py
  containers/plugins-train/pylib/boonai_train/pytorch/tests/test_train_torch.py
  containers/plugins-train/pylib/boonai_train/tf2/tests/test_train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes bad rename
  containers/plugins-train/pylib/boonai_train/automl/test/labels_test.py
  containers/plugins-train/pylib/boonai_train/face_rec/tests/test_train.py
  containers/plugins-train/pylib/boonai_train/perceptron/tests/test_train.py
  containers/plugins-train/pylib/boonai_train/pytorch/tests/test_train_torch.py
  containers/plugins-train/pylib/boonai_train/tf2/tests/test_predict.py
  containers/plugins-train/pylib/boonai_train/tf2/tests/test_train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update base-email.html
  applications/wallet/app/wallet/templates/email/base-email.html
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds cache paths to the dockerhub build/push ci job to try to stop mvn failures.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updating missed docker container rename in tag and push
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removes some rogue arguments.
  applications/wallet/app/modules/migrations/0005_change_zorroa_to_boon.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Cleaning up unnecessary changes to build and push
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update Metrics to use BoonSDK
  services/metrics/Dockerfile
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
  services/metrics/app/fixture_data/records.py
  services/metrics/app/metrics/records/models.py
  services/metrics/app/metrics/records/tests/test_views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Cleanup unneeded changes
  services/metrics/app/metrics/records/tests/test_views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Installing sdk requirements for boonsdk
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates the reporter service to use the new Boon libs.
  docker-compose.yml
  services/reporter/lib/metrics.py
  services/reporter/reporter
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds some more maven opts to the services unit test job
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds some more maven opts to the services unit test job
  applications/wallet/app/registration/templates/registration/activation-email.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
  applications/wallet/app/registration/templates/registration/password_reset_subject.txt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
