Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scrounger-frontend-test-suite, wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

scrounger-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/scrounger/react_frontend
  - npm ci
  script:
  - npm run lint

wallet-integration-test-suite:
  stage: test
  image: cypress/browsers:node14.7.0-chrome84
  before_script:
  - cd applications/wallet/cypress
  - npm ci
  script:
  - npm run cli -- --browser chrome --headless --record --group Backend --spec 'integration/backend/**/*'
  ...

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint:0.37.2
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: false
  script:
  - python -m pip install pipenv pytest cmake
  - pip install --upgrade pip
  - cd client/python
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-amd64-static.tar.xz
  - cp ffmpeg-4.2.2-amd64-static/ffmpeg /usr/bin
  ...

generalize integration test
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_custom.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update unit test for custom label
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_custom.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

clean up unit test
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_custom.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency io.minio:minio to v8
  services/archivist/archivist/pom.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency io.sentry:sentry-spring to v3
  services/archivist/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency org.codehaus.mojo:exec-maven-plugin to v3
  services/elasticsearch/es-kwconf/pom.xml
  services/elasticsearch/es-similarity/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update okhttp.version to v4
  lib/jvm-common/zmlp-apikey/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.amazonaws:aws-java-sdk-s3 to v1.11.930
  lib/jvm-common/zmlp-service/pom.xml
  services/archivist/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.google.guava:guava to v30
  services/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency org.apache.maven.plugins:maven-jar-plugin to v3
  services/archivist/pom.xml
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency org.apache.maven.plugins:maven-source-plugin to v3
  services/archivist/pom.xml
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-947: replace Model name with label
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/frontend/src/ModelTypes/__mocks__/modelTypes.js
  applications/wallet/frontend/src/Models/Content.js
  applications/wallet/frontend/src/Models/Row.js
  applications/wallet/frontend/src/Models/Table.js
  applications/wallet/frontend/src/Models/__tests__/Table.spec.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/Table.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/ModelsAdd/Form.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update test_integration.py
  applications/wallet/app/models/tests/test_integration.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Apply 1 suggestion(s) to 1 file(s)
  applications/wallet/app/models/tests/test_integration.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

ZMLP-579. Updates remaining processors to use the correct method for adding analysis that will register metrics.
  client/python/pylib/zmlp/entity/asset.py
  client/python/pylib/zmlp/entity/tests/test_asset.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/celebs.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/ppe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/text.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/images/bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/images/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/images/regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/face_rec.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/perceptron.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tf2.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/automl.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_dlp.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_lang.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
  sdk/pylib/zmlpsdk/base.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add collapse_label and remove deleting topic/queues
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-953: catch undefined textTracks mode
  applications/wallet/frontend/src/Timeline/Captions.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds a mock to the PluginUnitTestCase for the recordning the analysis metrics. Adds an assert to the aws celebs test case to see if it works correctly.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_celebs.py
  sdk/pylib/zmlpsdk/testing.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates plugin tests that are missing supers in the setUp. Adds asserts to all processor tests to make sure they are recording analysis metrics.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_ppe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_text.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_face_rec.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_knn.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_perceptron.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_tf2.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_automl.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_dlp.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_objects.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_ocr.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_similarity.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds a couple more missing supers.
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_video.py
  containers/zmlp-plugins-core/pylib/zmlp_core/video/tests/test_importers.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds a couple more missing supers and asserts in the integration tests.
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_images.py
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_transcribe.py
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_video.py
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_vision.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/images/test_bboxes.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/images/test_labels.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/images/test_regions.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/video/test_bboxes.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/video/test_labels.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/video/test_regions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds a couple more missing supers and asserts in the clarifai processor tests.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/images/tests/test_bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/images/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/images/tests/test_regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/tests/test_bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/tests/test_regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_objects.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_ocr.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_similarity.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-954. Fixes a bug where the confusion matrix endpoint wass not interpreting boolean values correctly.
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes some lingering bugs in tests.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes some lingering bugs in tests.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_speech.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes some lingering bugs in tests.
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/test/labels_test.py
  containers/zmlp-plugins-train/pylib/zmlp_train/perceptron/tests/test_train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes some lingering bugs in tests.
  containers/zmlp-plugins-train/pylib/zmlp_train/perceptron/tests/test_train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update springfox monorepo to v2.10.5
  lib/jvm-common/zmlp-apikey/pom.xml
  services/archivist/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves ZMLP-597. Moves the analysis metrics code to the ProcessorWrapper so it automatically runs on every procssor.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/objects.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/ocr.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/similarity.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_objects.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_ocr.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_similarity.py
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  containers/zmlp-plugins-base/pylib/zmlpcd/tests/test_process.py
  sdk/pylib/zmlpsdk/base.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes linting errors.
  containers/zmlp-plugins-base/pylib/zmlpcd/tests/test_process.py
  sdk/pylib/zmlpsdk/base.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added more options for clip search an creation.
  client/python/pylib/zmlp/app/__init__.py
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/clip_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
  client/python/pylib/zmlp/app/tests/test_clip_app.py
  client/python/pylib/zmlp/app/zmlp_app.py
  client/python/pylib/zmlp/entity/clip.py
  client/python/pylib/zmlp/search.py
  sdk/pylib/zmlpsdk/video.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Clip.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/TimelineSpec.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ClipController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ClipService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ClipControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ClipServiceTests.kt
  services/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Makes small updates to force a terraform run to get the state up to v13.
  deployment/terraform/main.tf
  deployment/terraform/modules/wallet/versions.tf
  deployment/terraform/versions.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added missing assets property.
  client/python/pylib/zmlp/search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

lint
  client/python/pylib/zmlp/search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes issue where this test was failing because it was picking up the main ES cluster.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/IndexClusterDaoTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds production deployment of the metrics service to the CI
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Marks variables as sensitive in the terraform.
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/outputs.tf
  deployment/terraform/modules/analyst/variables.tf
  deployment/terraform/modules/api-gateway/variables.tf
  deployment/terraform/modules/archivist/outputs.tf
  deployment/terraform/modules/archivist/variables.tf
  deployment/terraform/modules/auth-server/variables.tf
  deployment/terraform/modules/azure-ml/outputs.tf
  deployment/terraform/modules/elasticsearch/variables.tf
  deployment/terraform/modules/gcp-marketplace-integration/outputs.tf
  deployment/terraform/modules/gcp-marketplace-integration/variables.tf
  deployment/terraform/modules/gke-cluster/outputs.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/metrics/outputs.tf
  deployment/terraform/modules/metrics/variables.tf
  deployment/terraform/modules/minio/outputs.tf
  deployment/terraform/modules/ml-bbq/variables.tf
  deployment/terraform/modules/officer/variables.tf
  deployment/terraform/modules/postgres/outputs.tf
  deployment/terraform/modules/reporter/variables.tf
  deployment/terraform/modules/stackdriver-adapter/versions.tf
  deployment/terraform/modules/wallet/outputs.tf
  deployment/terraform/modules/wallet/variables.tf
  deployment/terraform/variables.tf
  deployment/terraform/versions.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates wallet tests to run when the pipfile is changed.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  scrounger-frontend-test-suite: any of: applications/scrounger/react_frontend/**/*
  wallet-integration-test-suite: any of: applications/wallet/cypress/**/*
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, client/zvi/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
