Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - python setup.py install
  - pytest
  - cd ../../sdk
  - python setup.py install
  - pytest
  - cd ../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

sdk-unit-tests-all-stable-branches:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q
  retry: 1

Use /proc/self
  services/analyst/pylib/analyst/executor.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-285: minor FilterRange fixes
  applications/wallet/frontend/src/FilterRange/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Try using v2 signing
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-457: add FilterLabelConfidence
  applications/wallet/frontend/src/Filter/shape.js
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterFacet/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__mocks__/aggregate.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/index.js
  applications/wallet/frontend/src/FilterRange/Content.js
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/Menu.js
  applications/wallet/frontend/src/Filters/MenuOption.js
  applications/wallet/frontend/src/Filters/MenuSection.js
  applications/wallet/frontend/src/Filters/Reset.js
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

refactor tests
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/index.spec.js
  applications/wallet/frontend/src/FilterRange/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterRange/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

refactor tests
  applications/wallet/frontend/src/FilterRange/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterRange/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

refactor tests
  applications/wallet/frontend/src/FilterFacet/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterFacet/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

removed the content type from signed url.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/FileStorageController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Removed content type header on upload.
  sdk/pylib/zmlpsdk/storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes setting attrs.
  sdk/pylib/zmlpsdk/storage.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update blob metadata
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Adds ability to delete an asset.
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/assets/views.py
  applications/wallet/app/wallet/tests/utils.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-457: add FilterLabelConfidence
  applications/wallet/frontend/src/Filter/shape.js
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/index.spec.js
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterFacet/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__mocks__/aggregate.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/index.js
  applications/wallet/frontend/src/FilterRange/Content.js
  applications/wallet/frontend/src/FilterRange/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterRange/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/Menu.js
  applications/wallet/frontend/src/Filters/MenuOption.js
  applications/wallet/frontend/src/Filters/MenuSection.js
  applications/wallet/frontend/src/Filters/Reset.js
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates terraform dependencies.
  deployment/terraform/modules/archivist/main.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add a service account key to the archivist in the terraform deployment for working with gcs storage.
  deployment/terraform/modules/archivist/main.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-285: update Filter values to be completely empty when reset
  applications/wallet/frontend/src/FilterFacet/Content.js
  applications/wallet/frontend/src/FilterFacet/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterFacet/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-475: update Jobs and JobTasks asset counts
  applications/wallet/frontend/src/Job/__mocks__/job.js
  applications/wallet/frontend/src/JobTasks/Row.js
  applications/wallet/frontend/src/JobTasks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobTasks/index.js
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__mocks__/jobs.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-476: remove error count
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixity fix
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

reverts mistaken kotlin change.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-477 - Adds additional error handling for parsing Filter objects.
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix error boundary style
  applications/wallet/frontend/src/ErrorBoundary/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ErrorBoundary/index.js
  applications/wallet/frontend/src/MetadataAnalysis/Labels.js
  applications/wallet/frontend/src/MetadataAnalysis/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

checkpoint
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/search.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

style search input placeholder
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/SearchFilter/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

remove clear all filters button when there are no filters, make buttons same size, preserve gap between buttons when panel is narrowed
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix tests
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
  applications/wallet/frontend/src/SearchFilter/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

checkpoint
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/plus.svg
  applications/wallet/frontend/src/SearchFilter/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

lighten svg
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/SearchFilter/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds error handling when someone tries to recreate a Wallet project with a different name.
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Refactored DAO for PipelineMods to have an optional project Id.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/PipelineMod.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineModDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/PipelineModController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/Utils.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/JdbcUtils.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V19__project_plm.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/PipelineDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/PipelineModDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ModelControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/PipelineModControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ModelServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineModDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/JdbcUtils.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/PipelineModDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ModelServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Adds marketplace documentation.
  applications/wallet/app/gcpmarketplace/README.md
  deployment/terraform/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/variables.tf
  deployment/terraform/modules/gke-cluster/main.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds missing wallet migrations.
  applications/wallet/app/gcpmarketplace/migrations/0001_initial.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Reverts an accidental change.
  services/analyst/pylib/analyst/service.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Upgraded file upload to 300mb
  services/api-gateway/default.conf.template
  services/archivist/archivist/src/main/resources/application.properties
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes issue where S3 was running out of connections.
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added events for sending status and progress.
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  sdk/pylib/zmlpsdk/storage.py
  services/analyst/pylib/analyst/executor.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Task.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/TaskEvent.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Default status string to false.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/TaskEvent.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes issue with task progress tests failing.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AnalystClusterControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*, .gitlab-ci.yml
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*, .gitlab-cy.yml
  services_unit_tests-all-stable-branches: any of: **/*
