Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - python setup.py install
  - pytest
  - cd ../../sdk
  - python setup.py install
  - pytest
  - cd ../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

sdk-unit-tests-all-stable-branches:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q
  retry: 1

Merge snaps
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

working without full cov
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/Filters/Title.js
  applications/wallet/frontend/src/Filters/__tests__/Title.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Title.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Filters/helpers.js
  applications/wallet/frontend/src/Icons/exists.svg
  applications/wallet/frontend/src/Icons/facet.svg
  applications/wallet/frontend/src/Icons/missing.svg
  applications/wallet/frontend/src/Icons/range.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

With test coverage
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterFacet/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/index.js
  applications/wallet/frontend/src/FilterRange/index.js
  applications/wallet/frontend/src/Filters/Title.js
  applications/wallet/frontend/src/Filters/__tests__/Title.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Title.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add disabled test
  applications/wallet/frontend/src/Filters/__tests__/helpers.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

snap merge conflict
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Reduce filter button width size so all text remains centered
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

up size
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Clean up tests
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/Title.js
  applications/wallet/frontend/src/Filters/__tests__/Title.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Title.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/helpers.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix conflict
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-285: add Accordion UI, toggling, and deletion
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterFacet/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/index.js
  applications/wallet/frontend/src/FilterRange/index.js
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/Title.js
  applications/wallet/frontend/src/Filters/__tests__/Title.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Title.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Filters/helpers.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/exists.svg
  applications/wallet/frontend/src/Icons/facet.svg
  applications/wallet/frontend/src/Icons/missing.svg
  applications/wallet/frontend/src/Icons/range.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/similarity.py
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/importers.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-400: keep Accordions in their last open state
  applications/wallet/frontend/src/Accordion/__tests__/index.spec.js
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Provider.js
  applications/wallet/frontend/src/DataSourcesEdit/Provider.js
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterFacet/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/index.js
  applications/wallet/frontend/src/FilterRange/index.js
  applications/wallet/frontend/src/Filters/Menu.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
  applications/wallet/frontend/src/Metadata/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds support for handling plan changes in gcp marketplace.
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting fixex
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/similarity.py
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/importers.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds docstrings and fixes linting issues.
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Appending exception to message
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/importers.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixes compile error
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed instances of entityManger from pipeline mod tests.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updates marketplace signup templates to look reasonable.
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/signup.html
  applications/wallet/app/gcpmarketplace/templates/gcpmarketplace/success.html
  applications/wallet/app/gcpmarketplace/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds error checking for aggregations on Filter that do not support them.
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

working without tests
  applications/wallet/frontend/src/Filter/shape.js
  applications/wallet/frontend/src/FilterTextDetection/Content.js
  applications/wallet/frontend/src/FilterTextDetection/index.js
  applications/wallet/frontend/src/Filters/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

removed auto reformatting
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue where project Id filter was not being applied.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-285: update FilterMenu icons
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/Menu.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
  applications/wallet/frontend/src/Filters/index.js
  applications/wallet/frontend/src/Icons/plus.svg
  applications/wallet/frontend/src/Metadata/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add tests
  applications/wallet/frontend/src/FilterTextDetection/Content.js
  applications/wallet/frontend/src/FilterTextDetection/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterTextDetection/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update helpers.js
  applications/wallet/frontend/src/Authentication/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update ApiKeyServiceTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Resolves WAL-487. Makes the methodName not required in the stacktrace serializer.
  applications/wallet/app/jobs/serializers.py
  applications/wallet/app/jobs/tests/test_integration.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

API Key Migration, Service and Repository
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/logging/EventLog.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/ApiKeyRepository.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/main/resources/db/migration/V2.sql
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-285: update FilterMenu icons
  applications/wallet/frontend/src/Authentication/helpers.js
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/Menu.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
  applications/wallet/frontend/src/Filters/index.js
  applications/wallet/frontend/src/Icons/plus.svg
  applications/wallet/frontend/src/Metadata/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add editable state
  applications/wallet/frontend/src/FilterTextDetection/Content.js
  applications/wallet/frontend/src/FilterTextDetection/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterTextDetection/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add disable rule to file scope
  applications/wallet/frontend/src/Filters/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-462: add TextDetection Filter
  applications/wallet/frontend/src/Filter/shape.js
  applications/wallet/frontend/src/FilterTextDetection/Content.js
  applications/wallet/frontend/src/FilterTextDetection/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterTextDetection/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterTextDetection/index.js
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

clean tests
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add toggle, delete; fix text search payload
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/Filter/shape.js
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterTextContent/Query.js
  applications/wallet/frontend/src/FilterTextContent/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterTextContent/__tests__/index.spec.js
  applications/wallet/frontend/src/FilterTextContent/index.js
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Filters/Title.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Title.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
  applications/wallet/frontend/src/SearchFilter/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

up max bundle size
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

polish test
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*, .gitlab-ci.yml
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*, .gitlab-cy.yml
  services_unit_tests-all-stable-branches: any of: **/*
