Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk client/python containers/zmlp-py3-base services/analyst
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - python setup.py install
  - pytest
  - cd ../../sdk
  - python setup.py install
  - pytest
  - cd ../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

sdk-unit-tests-all-stable-branches:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q
  retry: 1

Improved similarity API
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_search.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Make the arguments for dataset download consistent.
  client/python/pylib/zmlp/app/dataset_app.py
  client/python/pylib/zmlp/app/tests/test_dataset_app.py
  client/python/pylib/zmlp/tests/test_training.py
  client/python/pylib/zmlp/training.py
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/tests/test_train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/models.py
  sdk/bin/dataset-dl.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

face training app
  applications/sandbox/sandbox/scripts/face_train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WIP: face recognition training and classification processors
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/__init__.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/classify.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

flake8 cleanup
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

added docstrings for more clarity in code
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

abstract filenames for zip and test images
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/tests/test_classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

using tf.keras not keras
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Allow disabling of storage pre-cache
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/models.py
  sdk/pylib/zmlpsdk/storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Version up published pipeline module so it runs again.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ModelService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ModelServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Minor tweaks
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Zps.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/KPage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineDao.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Improved reactor API
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  containers/zmlp-plugins-base/pylib/zmlpcd/reactor.py
  sdk/pylib/zmlpsdk/testing.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Renamed test.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/tests/test_ocr.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Reactored face a bit.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/face_rec.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/model.zip
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_face_rec.py
  containers/zmlp-plugins-train/pylib/zmlp_train/face_rec/__init__.py
  containers/zmlp-plugins-train/pylib/zmlp_train/face_rec/tests/__init__.py
  containers/zmlp-plugins-train/pylib/zmlp_train/face_rec/tests/test_train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/face_rec/train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/classify.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/models.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add sklearn to training module.
  containers/zmlp-plugins-train/requirements.txt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

filters reset padding
  applications/wallet/frontend/src/Filters/Reset.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Reset.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

labelCOnfidence padding
  applications/wallet/frontend/src/FilterLabelConfidence/Slider.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

keyword/count padding; slider padding
  applications/wallet/frontend/src/FilterFacet/Content.js
  applications/wallet/frontend/src/FilterFacet/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/Slider.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterRange/Content.js
  applications/wallet/frontend/src/FilterRange/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix filters container padding
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterFacet/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/index.js
  applications/wallet/frontend/src/FilterRange/index.js
  applications/wallet/frontend/src/FilterText/Detection.js
  applications/wallet/frontend/src/FilterText/__tests__/__snapshots__/Detection.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

improve readability
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed model upload test.
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/tests/test_models.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds new keys to searches return for frontend video display
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/assets/views.py
  applications/wallet/app/searches/serializers.py
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

changed docstring format from numPy to Google
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

local load_image function to pass failed ci tests
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

changed test jpg to fix failing tests
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/tests/flowers/test_dsy.jpg
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/tests/test_classify.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Uncomments out code that shouldn't be comented out.
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Make a method for copying a prediction to a label.
  client/python/pylib/zmlp/entity/dataset.py
  client/python/pylib/zmlp/entity/tests/test_dataset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Set executime time for unexecute processors to 0.
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add icons to exists filter
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/index.spec.js
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Training and face cleanup.
  client/python/pylib/zmlp/app/model_app.py
  client/python/pylib/zmlp/entity/dataset.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/faces.py
  containers/zmlp-plugins-train/pylib/zmlp_train/face_rec/train.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ModelService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

update font for small checkbox variant
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/FilterFacet/Content.js
  applications/wallet/frontend/src/FilterFacet/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/MenuOption.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

replace panel icons
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/doubleChevron.svg
  applications/wallet/frontend/src/Panel/Content.js
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

change style for md panel text
  applications/wallet/frontend/src/Metadata/Select.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Squashes all wallet migrations
  applications/wallet/app/agreements/migrations/0001_initial.py
  applications/wallet/app/agreements/migrations/0002_auto_20200331_0131.py
  applications/wallet/app/gcpmarketplace/migrations/0001_initial.py
  applications/wallet/app/modules/migrations/0001_initial.py
  applications/wallet/app/modules/migrations/0002_auto_20200325_2339.py
  applications/wallet/app/projects/migrations/0001_initial.py
  applications/wallet/app/projects/migrations/0002_auto_20191204_2006.py
  applications/wallet/app/projects/migrations/0003_auto_20200115_0016.py
  applications/wallet/app/projects/migrations/0004_auto_20200129_2353.py
  applications/wallet/app/projects/migrations/0005_auto_20200225_0213.py
  applications/wallet/app/projects/migrations/0006_membership_roles.py
  applications/wallet/app/projects/migrations/0007_project_is_active.py
  applications/wallet/app/projects/migrations/0008_auto_20200429_2318.py
  applications/wallet/app/registration/migrations/0001_initial.py
  applications/wallet/app/registration/migrations/0002_auto_20200429_2318.py
  applications/wallet/app/searches/migrations/0001_initial.py
  applications/wallet/app/subscriptions/migrations/0001_initial.py
  applications/wallet/app/wallet/migrations/0001_initial.py
  applications/wallet/app/wallet/migrations/0002_auto_20200219_0052.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates terraform variables.
  deployment/terraform/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/variables.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Changed some things about project enabling/disabling:
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/ProjectDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Don't validate disabled projects.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/ApiKeyAuthorizationFilter.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/MultipleWebSecurityConfig.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/security/ApiKeyAuthorizationFilterTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Rename clip.timeline to clip.track as a clip belongs to a track.
  client/java/src/main/java/com/zorroa/zmlp/client/domain/Clip.java
  client/python/pylib/zmlp/entity/asset.py
  client/python/pylib/zmlp/entity/tests/test_asset.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_speech.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_video.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_shot_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_time_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_video.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/video.py
  sdk/pylib/zmlpsdk/tests/test_video.py
  sdk/pylib/zmlpsdk/video.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Clip.kt
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v1.json
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

test_storage test fix
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Cast the bbox/area to int.
  client/python/pylib/zmlp/training.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*, .gitlab-ci.yml
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*, .gitlab-cy.yml
  services_unit_tests-all-stable-branches: any of: **/*
