Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scrounger-frontend-test-suite, wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

scrounger-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/scrounger/react_frontend
  - npm ci
  script:
  - npm run lint

wallet-integration-test-suite:
  stage: test
  image: cypress/browsers:node14.7.0-chrome84
  before_script:
  - cd applications/wallet/cypress
  - npm ci
  script:
  - npm run cli -- --browser chrome --headless --record --group Backend --spec 'integration/backend/**/*'
  ...

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint:0.37.2
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: false
  script:
  - python -m pip install pipenv pytest cmake
  - pip install --upgrade pip
  - cd client/python
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-amd64-static.tar.xz
  - cp ffmpeg-4.2.2-amd64-static/ffmpeg /usr/bin
  ...

Update dependency django-axes to v5.13.0
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency pandas to v1.2.2
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

updating analysts officer variable on docker-compose.yml
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates billing metrics list of modules.
  services/metrics/app/metrics/records/models.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Revert "Merge branch 'development' into 'qa'"
  applications/wallet/frontend/src/Icons/largeLogo.svg
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/video.py
  sdk/pylib/zmlpsdk/analysis.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-902: update ModelMatrixPreviewContent empty state
  applications/wallet/frontend/src/ModelMatrix/Preview.js
  applications/wallet/frontend/src/ModelMatrix/PreviewContent.js
  applications/wallet/frontend/src/ModelMatrix/Tooltip.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/Preview.spec.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/Preview.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Switches everything to use the new boonai docker hub org.
  .gitlab-ci.yml
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/api-gateway/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/elasticsearch/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/ml-bbq/main.tf
  deployment/terraform/modules/officer/main.tf
  deployment/terraform/modules/reporter/main.tf
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Changes container names to use boonai org in the docker compose.
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

use mutate instead of revalidate
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/src/Job/Details.js
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Task/Details.js
  applications/wallet/frontend/src/TaskError/Content.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updated Readme
  README.md
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency swr to v0.4.2
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Job/Details.js
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Task/Details.js
  applications/wallet/frontend/src/TaskError/Content.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update Reset.js
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update emotion monorepo to v11.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-983: update favicons
  applications/wallet/frontend/pages/_document.js
  applications/wallet/frontend/public/android-chrome-192x192.png
  applications/wallet/frontend/public/android-chrome-512x512.png
  applications/wallet/frontend/public/apple-touch-icon.png
  applications/wallet/frontend/public/favicon-16x16.png
  applications/wallet/frontend/public/favicon-32x32.png
  applications/wallet/frontend/public/favicon.ico
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates READMEs to trigger ci builds.
  applications/wallet/README.md
  services/metrics/README.md
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Code tweaks in hopes f triggering CI.
  applications/wallet/app/projects/views.py
  services/metrics/app/metrics/records/models.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates READMEs to trigger ci builds.
  applications/wallet/README.md
  applications/wallet/app/projects/views.py
  services/metrics/README.md
  services/metrics/app/metrics/records/models.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update logo
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/largeLogo.svg
  applications/wallet/frontend/src/Icons/logo.svg
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/index.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

replace navbar logo
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/logo.svg
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update logo and alignment
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/logo.svg
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Rename all zmlp/zvi in code.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/DatabaseConfiguration.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/IndexRoute.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/StandardMods.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/security/MultipleWebSecurityConfig.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/JobLaunchService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/PipelineDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/PipelineModDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ProjectDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/PipelineControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/PipelineModControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ClusterBackupServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/JobLauncherServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/PipelineModServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/PipelineResolverServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/PipelineServiceTests.kt
  services/archivist/archivist/src/test/resources/application-test.properties
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-984: update Wallet email template
  applications/wallet/app/wallet/templates/email/base-email.html
  applications/wallet/frontend/public/icons/boon-ai.png
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixed mlbbq env vArs
  services/mlbbq/pylib/mlbbq/main.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

adjust viewbox
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/logo.svg
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove class in svg path
  applications/wallet/frontend/src/Icons/logo.svg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Small change to trigger the ci for the platform.
  services/analyst/pylib/analyst/main.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-983: replace Navbar logo
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/largeLogo.svg
  applications/wallet/frontend/src/Icons/logo.svg
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/index.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

replace zorroa references with boon ai
  applications/wallet/frontend/src/AccountPassword/Notice.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Copy.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/Policies/Form.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Renamed ES server to boonai
  services/elasticsearch/Dockerfile
  services/elasticsearch/build-docker.sh
  services/elasticsearch/es-kwconf/pom.xml
  services/elasticsearch/es-kwconf/src/main/assemblies/plugin.xml
  services/elasticsearch/es-kwconf/src/main/kotlin/com/zorroa/es/kwconf/KwConfPlugin.kt
  services/elasticsearch/es-kwconf/src/main/resources/plugin-descriptor.properties
  services/elasticsearch/es-similarity-query/pom.xml
  services/elasticsearch/es-similarity-query/src/main/java/com/zorroa/zmlp/simquery/SimilarityQueryBuilder.java
  services/elasticsearch/es-similarity-query/src/main/java/com/zorroa/zmlp/simquery/SimilarityQueryPlugin.java
  services/elasticsearch/es-similarity/pom.xml
  services/elasticsearch/es-similarity/src/main/kotlin/boonai/similarity/SimilarityEngine.kt
  services/elasticsearch/es-similarity/src/main/kotlin/boonai/similarity/SimilarityPlugin.kt
  services/elasticsearch/es-similarity/src/main/resources/plugin-descriptor.properties
  services/elasticsearch/es-similarity/src/test/kotlin/boonai/similarity/SimilarityEngineTests.kt
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fix escaped entity
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/Form.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates maven job to cache dependencies.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-983: replace "Zorroa" text with "Boon AI"
  applications/wallet/frontend/src/AccountPassword/Notice.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Copy.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/Policies/Form.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes the reporter docker build
  services/reporter/Dockerfile
  services/reporter/Pipfile.lock
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update aws-java-sdk monorepo to v1.11.956
  lib/jvm-common/zmlp-service/pom.xml
  services/archivist/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.auth0:java-jwt to v3.13.0
  lib/jvm-common/zmlp-apikey/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency com.google.cloud.sql:postgres-socket-factory to v1.2.1
  services/archivist/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  scrounger-frontend-test-suite: any of: applications/scrounger/react_frontend/**/*
  wallet-integration-test-suite: any of: applications/wallet/cypress/**/*
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, client/zvi/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
